# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================
venv/
.venv/
env/
ENV/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# IDE Settings
# ==========================================
.vscode/
.idea/

# ==========================================
# Jupyter Notebook
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Training Artifacts
# ==========================================
Artifacts/
prediction_output/

# ==========================================
# MLflow
# ==========================================
mlruns/

# ==========================================
# Cache & Logs
# ==========================================
.pytest_cache/
.cache/
*.log

# ==========================================
# Build Files
# ==========================================
build/
dist/
*.egg-info/

# ==========================================
# Operating System Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Temporary Files
# ==========================================
*.tmp
*.bak

# ==========================================
# Ignore all model files
# ==========================================
*.pkl
*.joblib

# ==========================================
# BUT keep the final trained model
# ==========================================
!final_model/model.pkl
!final_model/preprocessor.pkl